@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100italic|Roboto+Mono:400,100italic,700);

.title {
    font-size: 3em;
    color: #024656;
    text-align: center;
    font-family: 'Roboto';
    padding-top: 2%;
}


#content {
    border: 2px solid gray;
    padding: 5px;
    width: 60%;
    height: 60%;
    overflow-y: scroll;
}